<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.blanktar.ruumusic" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		<provider
			android:name=".util.SuggestionProvider"
			android:authorities="suggestionProvider"
			android:syncable="false" />
        <activity
            android:name=".client.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.OPENABLE"/>
				<data android:scheme="file" android:mimeType="audio/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:resource="@xml/searchable" android:name="android.app.searchable" />
        </activity>
        <activity
            android:name=".client.AudioPreferenceActivity"
            android:label="@string/title_activity_audio_preference"
            android:parentActivityName=".client.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.blanktar.ruumusic.client.MainActivity" />
        </activity>

        <service
            android:name=".service.RuuService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name=".service.RuuService$MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

		<receiver android:name=".widget.UnifiedWidget" android:label="@string/unified_widget_name" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="jp.blanktar.ruumusic.STATUS" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/unified_widget_info" />
		</receiver>

        <receiver android:name=".widget.PlayPauseWidget" android:label="@string/playpause_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="jp.blanktar.ruumusic.STATUS" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/play_pause_widget_info" />
        </receiver>

        <receiver android:name=".widget.SkipNextWidget" android:label="@string/skipnext_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/skip_next_widget_info" />
        </receiver>

        <receiver android:name=".widget.SkipPrevWidget" android:label="@string/skipprev_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/skip_prev_widget_info" />
        </receiver>

        <receiver android:name=".widget.MusicNameWidget" android:label="@string/musicname_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="jp.blanktar.ruumusic.STATUS" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_name_widget_info" />
        </receiver>
    </application>
</manifest>
