<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="jp.blanktar.ruumusic" >

	<meta-data
		android:name="com.google.android.gms.version"
		android:value="@integer/google_play_services_version" />


	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:installLocation="auto"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >

		<service android:name=".service.WearEndpoint$Listener">
			<intent-filter>
				<action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
				<data android:scheme="wear" android:host="*" android:pathPrefix="/control/" />
			</intent-filter>
		</service>
	</application>
</manifest>
